<h1>My Determinations</h1>
<% @goals.each do |goal| %>
<h1><%= link_to goal.title, goal_overview_path(goal) %></h1>
<% end %>
<br>
<%= link_to 'Set a new determination!', new_goal_path(parent_id: 'root') %>
