<h1>Overview</h1>
<div class="overview">
<%= link_to @goal.title, goal_path(@goal) %><br />
<% @goal.walk_tree do |goal, level| %>
  <% level += 1 %>
  <%= "|#{' '*level}" %>
  <%= "#{'-'*level}\s" %><%= link_to "#{goal.title}", goal_path(goal) %><br />
<% end %>
</div>
